.home-whyDanube img.w-16.animate-wobble {
    filter: brightness(1);
}

span.text-2xl.text-primary-yellow {
    font-size: 54px;
    font-weight: 600;
    color: #bda588;
    line-height: 1;
}

/* @media (min-width:767px){
    .py-20 {
        padding: 80px 0px;
    }} */

@media (max-width:766px) {
    .mob-center {
        align-items: center;
    }
}
@media (max-width:385px) {
    .radial-box {
        max-width: 280px;
        width: 100%;
    }
.single-col {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}}